{% extends 'base.html.twig' %}


{% block link %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('create_user') }}">Ajouter un utilisateur</a>
	</li>
{% endblock %}

{% block body %}
<br/>
<div class="container">
	<h1>Nos utilisateurs Bilemo référencés</h1>
	<form class="text-right" action="{{ path('get_users') }}" method="POST">
		<input type="text" name="keyword" placeholder="keyword">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	{% if users|length > 0 %} <!-- Vérification si il y a des utilisateurs dans la liste -->
	<div class="row">

	<div class="container">
			{% if users.data|length == 0 %}
				<h4>Aucun utilisateur n'a été trouvé.</h4>
			{% else %}
				{# pagination #}
				<div class="row justify-content-center">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<li class="page-item">
									 <a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								{% for page in range(1, totalPages) %}
									{% if page == actualPage %}
										<li class="page-item active"><a class="page-link" href="{{ path('get_users', {'offset': (page-1)*limit} )}}">{{ page }}</a></li>
									{% else %}
										<li class="page-item"><a class="page-link" href="{{ path('get_users', {'offset': (page-1)*limit} )}}">{{ page }}</a></li>
									{% endif %}
								{% endfor %}
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
				</div>
				
				{% for message in app.session.flashbag.get('notice') %}
					<p class="msg-flash" style="color: green; font-weight: bold;">{{ message }}</p>
		   		{% endfor %}
				
				{# users #}
				<table class="table table-bordered table-striped table-condensed">
					<caption>
						<h4>Nos utilisateurs Bilemo référencés</h4>
					</caption>
						<thead>
						   	<tr>
								<th>Email</th>
								<th>Compte</th>
						   	</tr>
						</thead>
						<tbody>
						{% for user in users.data %}
							<tr>
								<td>{{ user.email }}</td>
								<td><a href="{{ path('get_user', {'id': user.id}) }}"> Voir en détails</a></td>
							</tr>
						{% endfor %}
						</tbody>
				</table>

				{# pagination #}
				<div class="row justify-content-center">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<li class="page-item">
									 <a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								{% for page in range(1, totalPages) %}
									{% if page == actualPage %}
										<li class="page-item active"><a class="page-link" href="{{ path('get_users', {'offset': (page-1)*limit} )}}">{{ page }}</a></li>
									{% else %}
										<li class="page-item"><a class="page-link" href="{{ path('get_users', {'offset': (page-1)*limit} )}}">{{ page }}</a></li>
									{% endif %}
								{% endfor %}
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
				</div>
			{% endif %}
			</div>

		</div>


	{% else %}
	<div class="col-12">
		<div class="row">
			{# text #}
			<div class="col-8">
				<div class="row">
						Aucun utilisateur n'est répertorié
				</div>
			</div>
		</div>
	</div> 
	
{% endif %}

</div>

{% endblock %}
