{% extends 'base.html.twig' %}

{% block username %}
<br/>Bienvenue 
		{% for u in user._embedded %}
			{{ u.username|e }}
		{% endfor %}
{% endblock %}

{% block body %}
<br/>
<br/>
<div class="container">
		<h1>Compte utilisateur</h1>
		<br/>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Identité</th>
			<th>Email</th>
			<th>Genre</th>
			<th>Liens</th>
			<th>Chemins</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.gender }}</td>
				<td>
					{% for u in user._links|keys %}
						{{ u }} <br/>
					{% endfor %}
				</td>
				<td>
					{% for u in user._links %}
						{{ u.href|e }}<br/>
					{% endfor %}
				</td>
			</tr>
	</tbody>
</table>

<a href="{{ path('get_users') }}" type="button" class="btn btn-info btn-lg"> Retour à la liste des utilisateurs</a> 


</div>
{% endblock %}

